<a href="https://colab.research.google.com/github/vitor1209/LogicaProgramacaoPython/blob/main/Exercicio_LISTAS_07_08_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios utilizando Listas Python**

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [23]:
# Seu código aqui...
lista = [1, 2, 3, 4, 5]
sum(lista)

15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [4]:
# Seu código aqui...
lista2 = [1, 2, 3, 4, 5]

mul = 1
for i in lista2:
  mul = mul * i
mul

120

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [5]:
# Seu código aqui...
lista3 = [1, 2, 3, 4, 5]

min(lista3)

1

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [6]:
# Seu código aqui...
lista4 = [1, 2, 3, 4, 5]

max(lista4)

5

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [8]:
# Seu código aqui...
lista5 = [1, 2, 3, 4, 3, 2, 1]

lista5.count(3)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [11]:
# Seu código aqui...
lista6 = [1, 2, 2, 3, 4, 4, 5]
newlista = []
for i in lista6:
 if lista6.count(i) == 1:
  newlista.append(i)

newlista

[1, 3, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [12]:
# Seu código aqui...
lista6 = [1, 2, 3, 4, 5]

lista6.reverse()
lista6

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [51]:
# Seu código aqui...
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]
nLista = []

for i in range(len(lista81)):
  nLista.append(lista81[i])
  nLista.append(lista82[i])

print(nLista)

[1, 2, 3, 4, 5, 6]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [22]:
# Seu código aqui...
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]

listSoma = [sum(lista91) ,sum(lista92)]

listSoma

[6, 15]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [35]:
# Seu código aqui...
lista10 = [0, 1, 0, 3, 12]


lista10.remove(0)
lista10

[1, 0, 3, 12]